/* button call*/

.pulse {
    position: fixed!important;
    bottom: 30%;
    right: 0%;
    transform: translate(-50%, -50%);
    background: #ffc107;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    color: #fff;
    text-align: center;
    line-height: 55px;
    font-size: 40px;
    z-index: 1;
}

.pulse:before,
.pulse:after {
    content: " ";
    display: block;
    position: absolute;
    border: 50%;
    border: 1px solid #225899;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden;
}

.pulse:after {
    animation-delay: .5s;
}

@keyframes animate {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.fa:before {
    font-size: 1em;
    color: black;
}


/* button call*/